/*!
 * IamGamer.pro intro
 * https//github.com/IamGamerPro/intro
 *
 * Released under the MIT license
 * https//github.com/IamGamerPro/intro/blob/master/LICENSE
 */

@import 'nib'
@import 'base.styl'

@media all and (max-height 960px)
	.g-wrap
		min-height 960px !important

.b-header
	position relative
	margin-bottom 2rem

.b-top-logo
	margin-top 1rem
	width 22rem

.b-intro
	&__link
		text-decoration none

	&__sub-title
		font-size 1em
		margin-bottom 1em

	&__reg
		margin 0
		padding 1em
		border-radius 0.5em 0.5em 0 0
		color #454545
		text-shadow 1px 1px darken(#FFF, 15%)
		text-align center

	&__desc
		padding 1em
		border-top 3px double #CCC
		background #151515
		box-shadow 0.1em 0.1em 0.5em #000

	&__tour
		float right

.b-top-clans
	flex none
	margin -2rem 0 0 2%

	&__title
		font-variant small-caps

	&__list
		display flex
		flex-direction column
		margin 0
		padding 0

	&__el
		list-style none
		margin 0.2em 0 0.2em 0
		padding 0

	&__link
		display block
		border 6px solid #282828
		border-radius 0.5em

		&hover
			border-color #CCC

	&__logo
		display block

	&__more
		text-align right

.b-footer
	position relative
	margin-top 1rem

	&__wrapper
		display flex

.b-top-footer
	padding 1rem 0 2rem 0
	background linear-gradient(#D2D2D2, #BCBCBC, #CECECE)
	box-shadow 0.1rem 0.1rem 0.5rem #000

	&__section
		vertical-align top

.b-stat
	position absolute
	top -1rem
	left calc(80% \- 381px)

	border 1px solid #666
	border-top none

	box-shadow 0.1rem 0.1rem 0.5rem rgba(#000, 0.2)

	&__active-users
		display inline-block
		padding 1em
		color #000
		background-color #FFF

	&__users
		display inline-block
		padding 1em
		color #FFF
		background-color #0B0A0A

$newsTextShadow = 1px 1px #DDD

.b-news
	&__title
		color #454545
		text-shadow $newsTextShadow
		font-size 1.8em

	&__sub-title
		color #004150
		font-size 0.8em

	&__row
		display flex
		min-height 3em
		margin 0.5em 1em 0.5em 1em

	&__img
		margin 0 0.5em
		align-self center

	&__src-img
		border 1px solid #000

	&__content
		color #111
		text-shadow $newsTextShadow

.b-last-video
	margin 3rem 0 0 6rem
	text-shadow $newsTextShadow

	&__more
		font-weight bold
		padding-left 1.2em

	&__row
		margin 0.5em 0 0 1em
		white-space nowrap

	&__title
		color #454545
		text-shadow 1px 1px $newsTextShadow
		font-size 1.8em

	&__img
		border 3px solid #FFF
		border-radius 0.5em
		margin-right 1em
		vertical-align middle
