/*!
 * IamGamer.pro intro
 * https//github.com/IamGamerPro/intro
 *
 * Released under the MIT license
 * https//github.com/IamGamerPro/intro/blob/master/LICENSE
 */

@import 'nib'
@import 'base.styl'

@media all and (max-height 960px)
	.g-wrap
		min-height 960px !important

.b-header
	position relative
	margin-bottom 2rem

.b-top-logo
	margin-top 1rem
	width 22rem

.b-intro
	p
		font-size 1.1rem
		border-bottom 1px solid #222
		padding 1.5rem

		&:last-of-type
			border-bottom none

	&__link
		text-decoration none

	&__sub-title
		font-size 1rem
		margin-bottom 1rem

	&__wrapper
		padding 1rem

	&__reg
		border-radius 0.5rem 0.5rem 0 0
		color #454545
		text-shadow 1px 1px darken(#FFF, 15%)
		text-align center

	&__sub-hello
		font-size 1.3rem
		margin-top 0.4rem

	&__info
		border-top 1px solid #999
		padding 0.8rem
		margin-top 0.3rem
		font-size 1.2rem
		color #FFAA00
		text-shadow 1px 1px rgba(#000, 0.8)
		background linear-gradient(#222, #232323)

	&__desc
		padding 1rem
		border-top 3px double #CCC
		background #151515
		box-shadow 0.1rem 0.1rem 0.5rem #000

	&__tour
		float right

.b-top-clans
	flex none
	margin -2rem 0 0 2%

	&__title
		font-variant small-caps

	&__list
		display flex
		flex-direction column
		margin 0
		padding 0

	&__el
		list-style none
		margin 0.2rem 0 0.2rem 0
		padding 0

	&__link
		display block
		border 6px solid #282828
		border-radius 0.5rem

		&hover
			border-color #CCC

	&__logo
		display block

	&__more
		text-align right

.b-copyright
	padding 1rem
	color #7A7A7A
	font-size 0.7rem

.b-footer
	position relative
	margin-top 1rem

	&__wrapper
		display flex
